{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<h1>MedaReda</h1>

<table>
    <tr>
        <td>
          <table>
           <tr>
             <iframe src="http://46.101.4.101:5001/" width="600" height="400" frameborder="0"></iframe></td>
             <td><iframe src="/static/code.png" width="600" height="600" frameborder="0"></iframe></td>
           </tr>
         </table>
        <td>
             <iframe src="http://46.101.4.101:8888/" width="600" height="1000" frameborder="0"></iframe>
        </td>
    </tr>
</table>


{% endblock %}
