<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}


<h1>Technology used in this site</h1>
<p>

<table class="fixed">
  <col width="200">
  <col width="300">
  <thead>
      <tr>
          <th>Tech</th>
          <th>Usage</th>
      <tr>
  </thead>

  <tbody>
      <tr>            <td>Python</td>           <td>Main progrmming language</td>  </tr>
      <tr>            <td>Flask</td>            <td>Web framework</td>        </tr>
      <tr>            <td>Flask-user</td>       <td>Web permissions</td>        </tr>
      <tr>            <td>Atom</td>             <td>Text editor</td>        </tr>
      <tr>            <td>vi</td>               <td>Text editor</td>        </tr>
      <tr>            <td>sqlite</td>           <td>Database</td>        </tr>
      <tr>            <td>DB Browser for SQLite</td>       <td>Database viewer</td>        </tr>
      <tr>            <td>Digital Ocean</td>      <td>Cloud hosting</td>        </tr>
      <tr>            <td>git</td>            <td>Source control</td>        </tr>
      <tr>            <td>github</td>            <td>Source hosting</td>        </tr>
      <tr>            <td>docker</td>            <td>Containers</td>        </tr>
      <tr>            <td>dockerhub</td>            <td>Container hosting</td>        </tr>
      <tr>            <td>Yahoo finance</td>            <td>Price feeds</td>        </tr>
      <tr>            <td>bootstrap</td>            <td>Web design</td>        </tr>
      <tr>            <td>DOT</td>            <td>Graphical representation</td>        </tr>
      <tr>            <td>Highcharts</td>            <td>Graphical representation </td>        </tr>
      <tr>            <td>RabitMQ</td>            <td>Messaging</td>        </tr>
      <tr>            <td>CloudAMQP</td>            <td>Cloud messaging</td>        </tr>
      <tr>            <td>Wikis</td>            <td>TiddlyWiki</td>        </tr>
      <tr>            <td>Wiki hosting</td>            <td>TiddlySpot</td>        </tr>

  </tbody>
</table>





{% endblock %}
