{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<h1>User page</h1>
<p>
<p>
<p>
<a href="{{ url_for('mr_video_page') }}">MedaReda video demo</a>
<p>
<a href="{{ url_for('medareda_page') }}">MedaReda live demo</a>
<p>
<a href="{{ url_for('tech_used_page') }}">Technology used</a>
<p>
<a href="{{ url_for('cv_page') }}">Mark Hallett CV</a>
<p>
<a href="http://www.markhallett.co.uk">Mark Hallett wiki</a>
<p>
<a href="http://www.medareda.com">MedaReda wiki</a>
<p>

{% endblock %}
